body{
	margin:1%;
	padding:1%;
	font-size:150%;
	background-color: #cbbbd6;
}

h1{
	font-size: 80px; 
	font-weight: bold;
	font-family: 'Playfair Display', serif;
	color: white; 
	line-height: 3;
}

h2{
	font-size: 40px;
	line-height: 3;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;;
	color: white;
	text-transform: uppercase;
}

p{
	font-family:'Lucida Sans';
	line-height: 1;
	color: white;
}

img{
	border: solid 3px white;
	width: 200px;
	padding: 10;
	margin: 0 auto;
}

img:hover{
	border: solid 3px #aeb1e2;
}

#philimages{
	display: grid;
	grid-row: 1 / 4;
	row-gap: 20px;
	column-gap: 20px;
}

#sisterhoodimgs{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: right;
}

nav{
	text-transform: uppercase;
	padding: 25px 10px;  
  	text-align: left;   
	text-decoration-color: white;
	display: flex;
	justify-content: right;
	align-items: center;
}

nav a{
  color: rgb(87, 1, 87);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav ul{
  list-style-type: none;
}

nav li{
  padding: 0 20px;
  display: inline-block;
}

nav a:hover{
	color: white;
}

nav a.active{
	color: white;
}

#homepage{
	background-image: url(../images/background.jpg);
	object-fit: cover;
	object-position: center;
}

.skip{
	position: relative;
	text-decoration: none;
  	top: -70px;
}

.skip:focus{
	top: 0px;
}

form{
	font-family:'Lucida Sans';
	font-size: 15px;
	color: white;
	display: flex;
	flex-direction: row;
}

footer{
	padding: 15px 0;
	background-color: white;
	line-height: 2;
}

footer p{
	color:rgb(87, 1, 87);
	display: flex;
	justify-content: center;
}

.fa-brands{
	animation: move 3s ease;
}

@keyframes move{
	from {width: 20px; opacity:0; color: black;}
		to {width: 20px; opacity:1; color: white;}
}

@media screen and (prefers-reduced-motion: reduce){
	.fa-brands{
		animation:none;
	}
}